body{
  margin:0;
  font-family:Arial;
  background:#f4f4f4;
}

nav{
  display:flex;
  justify-content:space-between;
  padding:15px 20px;
  background:#002b5c;
  color:white;
}

nav a{
  color:white;
  margin:0 12px;
  text-decoration:none;
  font-weight:bold;
}

nav a:hover{
  color:#ffda79;
}

h2{
  text-align:center;
  margin-top:30px;
  color:#002b5c;
}

.guide-card{
  background:white;
  max-width:700px;
  margin:20px auto;
  padding:20px;
  border-radius:12px;
  box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

.guide-card h3{
  margin-bottom:10px;
}

button{
  padding:10px 15px;
  background:#002b5c;
  color:white;
  border:none;
  border-radius:8px;
  cursor:pointer;
}